@import "tailwindcss";
@tailwind utilities;
@layer base {
  html {
    font-size: 16px;
  }

  body {
    @apply bg-white text-gray-900;
  }

  h1, h2, h3, h4, h5, h6 {
    @apply font-bold text-gray-300;
  }

  p {
    @apply text-gray-500;
  }
}


@layer utilities {
  @keyframes scroll-loop {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-50%);
    }
  }

  .animate-scroll-loop {
    animation: scroll-loop 40s linear infinite;
  }
}